
# composer packages
/vendor/

# site data
/ext
/public
/private
!/private/README.md
/settings

# scaffolding
/.htaccess
/index.php

# civicrm asset publisher
!/public/assets/civicrm/core/README.md

/composer.lock

.idea
*~
*.bak
